In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

In [2]:
file_1 = pd.read_csv('resources/demographic.csv')
file_2 = pd.read_csv('resources/diet.csv')
file_3 = pd.read_csv('resources/examination.csv')
file_4 = pd.read_csv('resources/labs.csv')
file_5 = pd.read_csv('resources/medications.csv', encoding = "ISO-8859-1")
file_6 = pd.read_csv('resources/questionnaire.csv')

In [32]:
df_1 = pd.DataFrame(file_1)
df_2 = pd.DataFrame(file_2)
df_3 = pd.DataFrame(file_3)
df_4 = pd.DataFrame(file_4)
df_5 = pd.DataFrame(file_5)
df_6 = pd.DataFrame(file_6)

In [109]:
merged=reduce(lambda left,right: pd.merge(left, right, on='SEQN', how='inner'), dataframes)
merged.dropna(how='all', axis=1)
merged.dropna(how='all', axis=0)
print('columns: ' + str(len(merged.columns.tolist())))
print('rows: ' + str(len(merged.index)))

columns: 1699
rows: 9813

In [183]:
df_clean = merged.loc[:,['SEQN','RIAGENDR','RIDAGEYR','RIDRETH3','DMDYRSUS','DMDEDUC3','DMDEDUC2','INDHHIN2','BMDAVSAD','BMXWAIST','MGDCGSZ','LBXGH']]
df_clean['DMDEDUC3'].fillna(0, inplace=True)
df_clean['DMDEDUC2'].fillna(0, inplace=True)
df_clean['DMDEDUC'] = df_clean['DMDEDUC2'] + df_clean['DMDEDUC3']
df_clean = df_clean.drop(['DMDEDUC3'], axis=1).drop(['DMDEDUC2'], axis=1)

df_clean = df_clean.rename(columns ={
    'SEQN': 'seqn',
    'RIAGENDR': 'gender',
    'RIDAGEYR': 'age',
    'RIDRETH3': 'ethnicity',
    'DMDYRSUS': 'time_us',
    'DMDEDUC': 'education',
    'INDHHIN2': 'household_income',
    'BMDAVSAD': 'abdomen_diameter',
    'BMXWAIST': 'waist_circumference',
    'MGDCGSZ': 'grip',
    'LBXGH': 'glycohemoglobin'
})
df_clean.describe()

,seqn,gender,age,ethnicity,time_us,household_income,abdomen_diameter,waist_circumference,grip,glycohemoglobin,education
count,9813.000000,9813.000000,9813.000000,9813.000000,1852.000000,9700.000000,7218.000000,8661.000000,7677.000000,6643.000000,9813.000000
mean,78644.559971,1.507694,31.629573,3.277897,8.847732,10.831959,21.114034,87.272047,63.054891,5.642556,3.706716
std,2938.592266,0.499966,24.397553,1.607957,17.651697,13.754352,4.963949,22.542605,25.098439,1.004850,3.735823
min,73557.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.100000,40.200000,8.000000,3.500000,0.000000
25%,76092.000000,1.000000,10.000000,2.000000,3.000000,5.000000,17.300000,71.200000,45.600000,5.200000,2.000000
50%,78643.000000,2.000000,27.000000,3.000000,5.000000,8.000000,20.700000,87.800000,60.300000,5.400000,4.000000
75%,81191.000000,2.000000,52.000000,4.000000,7.000000,14.000000,24.400000,102.800000,80.700000,5.800000,5.000000
max,83731.000000,2.000000,80.000000,7.000000,99.000000,99.000000,40.100000,177.900000,162.800000,17.500000,99.000000

In [199]:


# # sklearn.feature_selection.f_classif
# from sklearn.feature_selection import VarianceThreshold
# fs = VarianceThreshold(threshold=(.8 * (1 - .8)))
# fs.fit_transform(df_clean)

,seqn,gender,age,ethnicity,time_us,household_income,abdomen_diameter,waist_circumference,grip,glycohemoglobin,education,diabetes
0,73557,1,69,4,0.0,4.0,20.6,100.0,55.2,13.9,3.0,2
1,73558,1,54,3,0.0,7.0,24.4,107.6,61.5,9.1,3.0,2
2,73559,1,72,3,0.0,10.0,25.6,109.2,91.0,8.9,4.0,2
3,73560,1,9,3,0.0,9.0,14.9,61.0,32.2,5.4,3.0,0
4,73561,0,73,3,0.0,15.0,20.7,87.8,30.9,4.9,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,1,26,2,0.0,77.0,19.1,87.1,70.1,5.0,5.0,0
9809,83728,0,2,1,0.0,8.0,20.7,47.2,60.3,5.4,0.0,0
9810,83729,0,42,4,6.0,7.0,24.3,102.7,46.6,5.3,5.0,0
9811,83730,1,7,2,0.0,6.0,20.7,53.0,20.8,5.4,0.0,0
9812,83731,1,11,6,0.0,15.0,17.5,73.5,36.0,5.4,5.0,0

In [204]:
# defining diabetes

conditions = [
    (df_clean['glycohemoglobin'] < 5.7),
    (df_clean['glycohemoglobin'] >= 5.7) & (df_clean['glycohemoglobin']<=6.4),
    (df_clean['glycohemoglobin']>6.4)
]

diagnosis = [0,1,2]

df_clean['diabetes'] = np.select(conditions, diagnosis)
df_clean

# changing gender to 1 = male 0 = female
df_clean['gender'] = df_clean['gender'].apply(lambda x: x if x==1 else 0)
df_clean['time_us'] = df_clean['time_us'].fillna(0)
df_clean['household_income'] = df_clean['household_income'].fillna(df_clean['household_income'].median())
df_clean['abdomen_diameter'] = df_clean['abdomen_diameter'].fillna(df_clean['abdomen_diameter'].median())
df_clean['waist_circumference'] = df_clean['waist_circumference'].fillna(df_clean['waist_circumference'].median())
df_clean['grip'] = df_clean['grip'].fillna(df_clean['grip'].median())
df_clean['glycohemoglobin'] = df_clean['glycohemoglobin'].fillna(df_clean['glycohemoglobin'].median())
df_clean['education'] = df_clean['education'].fillna(df_clean['education'].median())
df_clean.head(n=20)

,seqn,gender,age,ethnicity,time_us,household_income,abdomen_diameter,waist_circumference,grip,glycohemoglobin,education,diabetes
0,73557,1,69,4,0.0,4.0,20.6,100.0,55.2,13.9,3.0,2
1,73558,1,54,3,0.0,7.0,24.4,107.6,61.5,9.1,3.0,2
2,73559,1,72,3,0.0,10.0,25.6,109.2,91.0,8.9,4.0,2
3,73560,1,9,3,0.0,9.0,14.9,61.0,32.2,5.4,3.0,0
4,73561,0,73,3,0.0,15.0,20.7,87.8,30.9,4.9,5.0,0
5,73562,1,56,1,0.0,9.0,29.1,123.1,53.1,5.5,4.0,0
6,73563,1,0,3,0.0,15.0,20.7,87.8,60.3,5.4,0.0,0
7,73564,0,61,3,0.0,10.0,26.7,110.8,45.9,5.5,5.0,0
8,73566,0,56,3,0.0,4.0,19.9,85.5,38.8,5.4,3.0,0
9,73567,1,65,3,0.0,3.0,20.0,93.7,43.5,5.2,2.0,0
10,73568,0,26,3,0.0,15.0,14.5,73.7,61.0,5.2,5.0,0
11,73570,0,9,7,0.0,5.0,15.4,65.6,34.3,5.4,2.0,0
12,73571,1,76,3,0.0,14.0,29.7,122.1,83.8,6.9,5.0,2
13,73572,0,10,4,0.0,2.0,15.3,66.4,38.3,5.4,3.0,0
14,73573,1,10,4,0.0,8.0,15.2,72.5,41.8,5.4,4.0,0
15,73574,0,33,6,4.0,8.0,15.1,78.7,71.4,5.0,5.0,0
16,73575,1,1,4,0.0,3.0,20.7,87.8,60.3,5.4,0.0,0
17,73576,1,16,4,0.0,8.0,17.0,74.2,96.6,5.1,9.0,0
18,73577,1,32,1,4.0,5.0,22.8,100.0,76.7,5.3,1.0,0
19,73578,1,18,1,0.0,5.0,25.8,110.2,74.4,5.4,15.0,0